.search,
.data {
  transition: transform 0.3s ease-in-out;
}

.search:hover,
.data:hover {
  transform: scale(1.02);
}


.search-btn{
    background: #0079ff;
}

.search-btn:hover{
    background: #60ABFF;
}

.search{
    position: relative;
}

.no-result{
    position: absolute;
    right: 160px; 
    color: #F74646;
    font-weight: bold;
}

#link{
 cursor: pointer;
}

#link:hover{
 text-decoration: underline;
}

.spinner{
animation-name: spin;
animation-duration: 1000ms;
animation-iteration-count: infinite;
height: 50px;
}

.spinner path{
fill: #0079ff;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader{
  height: 370px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}